.repository-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      margin-top: 10px;
      &:first-child() {
        margin-top: 0;
      }
    }

    p {
      font-size: 14px;
      color: rgb(219, 219, 219);
      margin-top: 8px;
    }

    a {
      display: inline-block;
      margin-top: 16px;
      text-decoration: none;
      color: #8257e6;
    }
  }
}
